version: "3.9"
services:
  postgres:
    image: postgis/postgis:15-3.4
    container_name: spotted-postgres
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: spotted
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  redis:
    image: redis:7-alpine
    container_name: spotted-redis
    ports:
      - "6379:6379"
volumes:
  pgdata:
